# Database Connection String
# Examples:
# PostgreSQL: postgresql://user:password@localhost:5432/mydatabase
# MySQL: mysql+pymysql://user:password@localhost:3306/mydatabase
# SQL Server: mssql+pyodbc://user:password@localhost:1433/mydatabase?driver=ODBC+Driver+17+for+SQL+Server
# SQLite: sqlite:///data.db

DB_CONNECTION_STRING=sqlite:///example.db
DEEPSEEK_API_KEY=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
